In [53]:
import numpy as np
import pandas as pd

# Remeber you need to download the csv and place it into your notebook folder
df = pd.read_csv("winequality-red.csv")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5.0
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6.0
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1595,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5.0
1596,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6.0
1597,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
1598,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
1599,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0

# <h3> 2. The assignment</h3>
<h4> 2.1 Introduction to the dataset </h4>
<p>Lets first get a good grasp of the data represented use the describe function to generate a general overview and lets set two good to have variables; the amount of samples (the samples variable) and the amount of columns/attributes (the columns variable  </p>

In [54]:
samples = len(df)
columns = len(df.columns)

print(samples)
print(columns)
#TODO Use describe to get a summarized view of the dataset
df.describe()

1600
12

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

# <h4>2.2 Finding and dropping NA values </h4>
<p>Lets now check if there are any NA values in any of our columns </p>

In [55]:
def count_nan():
    # For each column in the dataset perform the isna() operation and summarize the missing samples
    # After having calculated The amount of samples that have na values, divide it by total sample size and mulitply by 100
    # To get the percentage
    
        for col in df.columns:
            col_name = col
            df_col = df[col]
            missing_sample = df_col.isna().sum()
            print(f"The column {col_name} is missing {missing_sample/samples * 100}% of data! ")
        
count_nan()

The column fixed acidity is missing 0.0625% of data!
The column volatile acidity is missing 0.0625% of data!
The column citric acid is missing 0.0625% of data!
The column residual sugar is missing 0.0625% of data!
The column chlorides is missing 0.0625% of data!
The column free sulfur dioxide is missing 0.0625% of data!
The column total sulfur dioxide is missing 0.0625% of data!
The column density is missing 0.0625% of data!
The column pH is missing 0.0625% of data!
The column sulphates is missing 0.0625% of data!
The column alcohol is missing 0.0625% of data!
The column quality is missing 0.0625% of data!

Next up is a bit of a tricky part; We will now identify every sample that isna but instead of summarizing we will identify the samples such that we later on can remove them. Once again use isna() but this time say all() instead of sum()! You might also need to specify the axis

In [56]:
# 1. Extract all the samples that meet the criteria of isna()
nan_samples = df[df.isna().all(axis = 1)]

# 2. Get the indexs for these rows
nan_indexes = nan_samples.index.values

# 3. Drop them from the dataframe
df = df.drop(nan_indexes)

# Finally, lets rerun the count_nan function to examine our revised dataset
count_nan()

The column fixed acidity is missing 0.0% of data!
The column volatile acidity is missing 0.0% of data!
The column citric acid is missing 0.0% of data!
The column residual sugar is missing 0.0% of data!
The column chlorides is missing 0.0% of data!
The column free sulfur dioxide is missing 0.0% of data!
The column total sulfur dioxide is missing 0.0% of data!
The column density is missing 0.0% of data!
The column pH is missing 0.0% of data!
The column sulphates is missing 0.0% of data!
The column alcohol is missing 0.0% of data!
The column quality is missing 0.0% of data!

#<h4>2.3 Filtering and reindexing</h4>
<p>Next up we will filter the dataset by quality and then reindex the dataset </p>

In [73]:
df = df.copy().sort_values(("quality"))
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1479,7.1,0.875,0.05,5.7,0.082,3.0,14.0,0.99808,3.40,0.52,10.2,3.0
833,10.4,0.440,0.42,1.5,0.145,34.0,48.0,0.99832,3.38,0.86,9.9,3.0
900,8.3,1.020,0.02,3.4,0.084,6.0,11.0,0.99892,3.48,0.49,11.0,3.0
1375,6.8,0.815,0.00,1.2,0.267,16.0,29.0,0.99471,3.32,0.51,9.8,3.0
460,11.6,0.580,0.66,2.2,0.074,10.0,47.0,1.00080,3.25,0.57,9.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
589,5.0,0.420,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8.0
1270,5.5,0.490,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8.0
1450,7.2,0.380,0.31,2.0,0.056,15.0,29.0,0.99472,3.23,0.76,11.3,8.0
456,11.3,0.620,0.67,5.2,0.086,6.0,19.0,0.99880,3.22,0.69,13.4,8.0
1550,7.4,0.360,0.30,1.8,0.074,17.0,24.0,0.99419,3.24,0.70,11.4,8.0

<h4>2.4 Transforming the data</h4>
<p>Lastly as part of the assignment we will be transforming and normalizing the data values. In Exercise 3c you saw how to perform this for one column, here we will recreate it but for all the columns that can benefit from it (which truth be told is all of them). The solutions is also a bit different so you cant fully copy paste. In short; the objective is to normalize each column in the dataframe. Hint; Check out the pandas docs for an idea of how to use apply at the df[column] part!</p>

In [94]:
def normalize_values(col_value, min_val, max_val):
    normalized_val = np.divide(col_value - min_val, max_val - min_val)
    return normalized_val

def main():
    for column in df.columns:
        min_val = df[column].min()
        max_val = df[column].max() 
        df[column] = df[column].apply(normalize_values,args = (min_val,max_val))


main()
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,0.329171,0.279329,0.270976,0.112247,0.125988,0.209506,0.142996,0.490211,0.449695,0.196496,0.311228,0.527205
std,0.154079,0.122644,0.194801,0.096570,0.078573,0.147326,0.116238,0.138571,0.121564,0.101501,0.163949,0.161514
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.221239,0.184932,0.090000,0.068493,0.096828,0.084507,0.056537,0.406021,0.370079,0.131737,0.169231,0.400000
50%,0.292035,0.273973,0.260000,0.089041,0.111853,0.183099,0.113074,0.490455,0.448819,0.173653,0.276923,0.600000
75%,0.407080,0.356164,0.420000,0.116438,0.130217,0.281690,0.197880,0.570117,0.519685,0.239521,0.415385,0.600000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000